body {
  /* background-color:#008B8B; */
  background-color:rgb(240, 240, 240);
}

#wrap > #header {
  font-weight: bold;
  /* color: white; */
  font-family: 'Times New Roman', Times, serif;
  /* border-bottom-style: 5px, white; */
  text-decoration: none;
  border-bottom: 1px solid #ebebeb;
}

#wrap > .container > #content > .article_list > .topic > .prj_unimarket > a {
  text-align: left;
  text-decoration: none;
}
