body {
  /* background-color:#008B8B; */
  background-color:rgb(240, 240, 240);
  
}

.header {
  font-weight: bold;
  /* color: white; */
  font-family: 'Times New Roman', Times, serif;
  /* border-bottom-style: 5px, white; */

}
